* {
    margin: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden !important;
}

html {
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
}

audio {
    position: absolute;
    top: 30;
    left: 30;
}

marquee {
    color: #FF0000;
}

.container{
    height: 110vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.253) !important;
    padding: 20px;
}

.logo-acamp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.logo {
    border-radius: 50%;
    box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.5);
    width: 60vh;
}
@media screen and (max-width: 768px){
    .logo {
        width: 60vw;
        margin-top: 20vh;
        margin-left: -10vw !important;
    }

    .regional {
        height: 20vw !important;
        width: 20vw !important;
    }

    typebot-bubble::part(bot) {
        max-width: 350px;
        max-height: calc(100vh - 170px);
    }
}
h1{   
    font-family: Arial, Helvetica, sans-serif ;
}

#countdown {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.regional {
    position: absolute;
    height: 10vw;
    width: 10vw;
    bottom: 20px;
    filter: drop-shadow(5px -5px 5px rgba(0, 0, 0, 0.8)) ;
    background-image: url("../img/gfq.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}