body,
html {
    margin: 0;
    padding: 0;
    padding-top: 1vh;
    background-color: #dfa051 !important;
    overflow: hidden;
    background-image: url("../img/fundo.png");
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-repeat: no-repeat
    ;
}
.teste {
    /* border: 10px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: -3vh;
    border-radius: 50%;
    box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.5);
    /* height: 60vh !important;  */
    width: 90vh;
}
@media screen and (max-width: 768px){
    .logo {
        width: 90vw;
        margin-top: 20vh;
    }
}
h1{   
    font-family: Arial, Helvetica, sans-serif ;
}

#countdown {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.regional {
    position: absolute;
    height: 10vw;
    width: 10vw;
    bottom: 0;
    filter: drop-shadow(5px -5px 5px rgba(0, 0, 0, 0.8)) ;
    margin: 3vh;
    background-image: url("../img/gfq.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}