body,
html {
    margin: 0;
    padding: 0;
    padding-top: 1vh;
    background-color: #dfa051 !important;
    overflow: hidden;
}

.logo {
    margin-top: -3vh;
    background-image: url(../img/logo.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 70vh !important;
    height: 70vh !important;
    z-index: 20;
}

h1{   
    font-family: Arial, Helvetica, sans-serif !important;
}

#countdown {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.regional {
    position: absolute;
    height: 10vw;
    width: 10vw;
    bottom: 0;
    margin: 1vh;
    background-image: url(../img/logonovoRegional.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}